
# Playwright
node_modules/
.nx/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env
env.*
*.log
*.json
scheduled-test-logs/
artifacts/
node_modules/
*test-summary*.md